.file-selector-container {
  border: 2px dashed #ccc;
  padding: 5px;
  margin: 7px 0;
  text-align: center;
}

.file-selector-input {
  display: none;
}

.file-selector-dropzone {
  border: 2px solid #428bca;
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0px;
  margin-bottom: 5px;
  text-align: left;
}

.file-selector-placeholder {
  color: #999;
}

.file-selector-label {
  text-align: left;
  margin: 5px;
  /* margin-bottom: 2px; */
  /* margin-top: 0px; */
}
