/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  color: black;
  height: 100%;
  background: rgb(254, 254, 254);
  background-attachment: fixed;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: rgb(72, 43, 217);
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header h1 {
  padding: 0 40px;
}

.card-visual {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  padding: 8px;
  margin: 8px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.card-visual.is-over {
  background-color: #c9c9c9;
}

.delete-button {
  color: white;
  background-color: rgb(72, 43, 217);
  border: none;
  cursor: pointer;
  border-radius: 15%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="16px" height="16px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.delete-button:hover {
  background-color: #d9534f;
}

.main-content {
  margin-top: 110px;
  flex: 1;
  display: flex;
  justify-content: space-between; /* Ensure even spacing between columns */
  align-items: flex-start; /* Align columns to the top */
  padding: 2%;
  width: 96%;
}

.file-selector-dropzone {
  cursor: pointer;
  padding: 8px;
  border: 2px solid;
  border-color: #428bca;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-wide {
  flex: 2;
  margin-right: 20px; /* Space between wide column and narrow column */
}

.column-narrow {
  flex: 1.5;
}

.spacing {
  margin-top: 20px;
}

/* Retain button styling */
button {
  color: white;
  background-color: rgb(72, 43, 217); /* Ensure the correct RGB value */
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
}

button:hover {
  transform: scale(1.025);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
